<% include ./partials/header.ejs %>

  <div class="profile min-h-screen w-full bg-zinc-800 p-1">
    <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
      <input type="file" name="image">
    </form>
    <div class="profiledata flex flex-col items-center mt-20">
      <div class="relative">
        <span id="uploadicon"
          class="w-8 h-8 bg-zinc-200 rounded-full flex items-center justify-center absolute bottom-0 right-2 p-2">
          <i class="bg-zinc-200 text-md font-bold ri-edit-box-line"></i>
        </span>
        <div class="profileimg w-32 h-32 bg-white rounded-full overflow-hidden">
          <img src="/images/upload/<%= user.profileImage %>" alt="" class="w-full h-full object-cover">
        </div>
      </div>

      <p class="text-lg text-zinc-300 mt-2 font-semibold">
        <%= user.username %>
      </p>
      <a href="/edit"
        class="mt-5 rounded-full w-18 text-md font-medium bg-zinc-500 text-zinc-200 text-center p-1">Edit</a>
      <a href="/add" class="px-5 py-3 bg-red-600 font-bold text-xs rounded-lg mt-5 text-white">Add new post</a>
    </div>

    <div class="card mt-10 p-7">
      <div>
        <div class="flex flex-wrap w-52 h-40 bg-zinc-200 rounded-lg overflow-hidden
        ">
          <img src="/images/upload/<%= user?.posts[0]?.image %>" alt="" class="object-cover w-full h-full">
        </div>
        <a href="/show/post" class="mt-2 text-zinc-400 font-semibold text-xl">Your uploaded pins</a>
        <h5 class="text-sm text-zinc-200 font-medium">
          <%= user.posts.length %> pins
        </h5>
      </div>
    </div>
  </div>

  <script>
    document.querySelector('#uploadicon').addEventListener("click", () => {
      document.querySelector('#uploadform input').click()
    })

    document.querySelector('#uploadform input').addEventListener('change', () => {
      document.querySelector("#uploadform").submit();
    })

  </script>
  <% include ./partials/footer.ejs %>